/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --primary: #e30613; /* Primær rød farve, knapper og vigtige ting */
  --secondary: #ffd6d7; /* Sekundær, mindre vigtige ting og menu */
  --accent: #e8f1f8; /* Komplimenter til rød for balance */

  /* UI / baggrund */
  --background: #ffffff;
  --surface: #f8f8f8; /* Bruges inde i input felt */
  --border: #dadada; /* Bruges ved chat og andre bokse som stroke primært */

  /* Tekst */
  --text-primary: #1d1d1b; /* primær tekst */
  --text-muted: #6b6b6b; /* sekundær tekst / mindre tydeligt tekst */

  --font-family: 'Open Sans', sans-serif;

  --text-xl: 24px;
  --text-lg: 16px;
  --text-md: 14px;
  --text-sm: 12px;

  --font-regular: 400;
  --font-semi: 500;
  --font-bold: 600;

  /* Spacing */
  --space-sm: 8px; /* Små afstande: label til input, tekst til tekst */
  --space-md: 16px; /* Standark afstand: mellem komponenter padding i cards osv. */
  --space-lg: 24px; /* Store sektioner: mellem større blocks og mellem sektioner */

  /* Linjehøjde */
  --line-tight: 1.3; /* Bruges på overskrifter for at bruge mindst plads som muligt */
  --line-normal: 1.5; /* Bruges til brødtekst for mere luft */
}

/* Typografi /*


/* H1 - store overskrifter */
h1 {
  margin: 0 0 var(--space-sm);

  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  line-height: var(--line-tight);

  color: var(--text-primary);
}

/* H2 - sektioner / undertitler */
h2 {
  margin: 0 0 var(--space-sm);

  font-size: var(--text-lg);
  font-weight: var(--font-bold);
  line-height: var(--line-tight);

  color: var(--text-primary);
}

/* Normal tekst */
p {
  margin: 0 0 var(--space-md);

  font-size: var(--text-md);
  font-weight: var(--font-regular);
  line-height: var(--line-normal);

  color: var(--text-primary);
}

/* Lille / muted tekst */
small {
  font-size: var(--text-sm);
  line-height: var(--line-normal);

  color: var(--text-muted);
}

/* Links */
a {
  color: var(--primary);

  font-size: var(--text-md);
  font-weight: var(--font-bold);
  line-height: var(--line-normal);

  text-decoration: none;
}

/* Hvid overskrift (i billeder) */
H3 {
  margin: 0 0 var(--space-sm);

  font-size: var(--text-lg);
  font-weight: var(--font-bold);
  line-height: var(--line-tight);

  color: var(--accent);
}

/* Hvid overskrift (i billeder) */
H4 {
  margin: 0 0 var(--space-sm);

  font-size: var(--text-md);
  font-weight: var(--font-semi);
  line-height: var(--line-tight);

  color: var(--accent);
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background: #eee;
}

/* App */
.app {
    width: 100%;
    max-width: 768px;
    min-height: 100vh;
    margin: 0 auto;
    background: var(--background);
    padding: var(--space-md);
}

/* Sektioner */
.section {
  margin-bottom: var(--space-lg);
}

/* Typografi */
.text-heading {
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  color: var(--text-primary);
}

.text-subheading {
  font-size: var(--text-lg);
  font-weight: var(--font-bold);
  color: var(--text-primary);
  margin-bottom: var(--space-sm);
}

.text-body {
  font-size: var(--text-md);
  color: var(--text-primary);
}

.text-muted {
  font-size: var(--text-md);
  color: var(--text-muted);
}

.text-link {
  font-size: var(--text-md);
  font-weight: var(--font-bold);
  color: var(--primary);
}

/* Inputs */
.input {
  width: 100%;
  padding: 12px;
  margin-bottom: var(--space-md);
  border: 1px solid var(--border);
  background: var(--surface);
  font-size: var(--text-md);
}

/* Row */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);
  margin-bottom: var(--space-md);
}

/* Checkbox */
.checkbox {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  font-size: var(--text-md);
  color: var(--text-muted);
}

/* Link */
.link {
  font-size: var(--text-md);
  color: var(--primary);
  text-decoration: none;
}

/* Knap */
.btn {
  width: 100%;
  padding: 14px;
  border: none;
  background: var(--primary);
  color: white;
  font-size: var(--text-lg);
  font-weight: var(--font-bold);
}

.btn:active {
  background: var(--secondary);
}

/* Farvetekst */
.color-list p {
  margin-bottom: 6px;
}

.color-primary { color: var(--primary); }
.color-secondary { color: var(--secondary); }
.color-accent { color: var(--accent); }
.color-text { color: var(--text-primary); }
.color-border { color: var(--border); }
.color-background { color: var(--background); }

/* Forside 
_________________________________________*/

/* Logo */

.app-header{
    display:flex;
    justify-content:center;
    margin: var(--space-lg);
}

.app-logo{
    width:180px;
}



/* HERO */

.hero-swiper{

    width:100%;

    height:240px;

    margin-bottom: var(--space-md);

    position:relative;
}


.hero-slide{

    position:absolute;

    inset:0;

    opacity:0;

    background-size:cover;

    background-position:center;

    overflow:hidden;

    display:flex;

    align-items:flex-end;

    transition:.4s;
}


.hero-slide.active{

    opacity:1;
}


.hero-slide::after{

    content:"";

    position:absolute;

    inset:0;

      background:
    linear-gradient(
    to top,
    rgba(0,0,0,.8),
    transparent
    );
}


.hero-content{

    position:relative;

    z-index:2;

    padding: var(--space-md);

    color:white;
}


.hero-content h2{

    margin-bottom: var(--space-sm);
}



/* Prikker */

.slider-dots{

    display:flex;

    justify-content:center;

    gap: var(--space-sm);

    margin-bottom: var(--space-xl);
}


.dot{

    width:10px;

    height:10px;

    background:#ccc;

    cursor:pointer;
}


.dot.active{

    background: var(--primary);
}



/* REVIEWS */

.reviews h2{
    margin-bottom: var(--space-xl);
}

.review-grid{

    display:grid;

    grid-template-columns:
    repeat(
    auto-fit,
    minmax(220px,1fr)
    );

    gap: var(--space-lg);
}


.review-card{

    width:100%;
}


.review-card img{

    width:100%;

    aspect-ratio:4/3;

    object-fit:cover;

    display:block;

    margin-bottom: var(--space-sm);

}


.review-card h3{

    margin-bottom: var(--space-sm);
}

.stars{

    display:flex;

    gap:4px;
}


.stars img{

    width:16px;

    height:16px;

    object-fit:contain;
}

/* større iPad */

@media(min-width:768px){

.hero-swiper{

height:400px;

}

}